APP_NAME=Invest Alert API
APP_ENV=local

DATABASE_URL=postgresql+psycopg://postgres:YOUR_PASSWORD@127.0.0.1:5432/DB_NAME

JWT_ALGORITHM=HS256
JWT_ACCESS_SECRET=ACCESS_SECRET
JWT_REFRESH_SECRET=REFRESH_SECRET
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=30

WATCHLIST_MAX_STOCKS=YOUR_NUMBER
